body {
  width: 200px;
  height: 65px;
  margin: 10px;
  font-family: Arial, sans-serif;
}

#sendButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#infoText {
  margin-top: 10px;
}

#homeLink {
  display: block;
  margin-top: 10px;
  text-align: center;
}